.cartList-frame {
  width: 100%;
  display: flex;
  padding: 1em;
  border-bottom: 1px solid var(--color-smoke);
}

.image-container {
  width: 200px;
  height: 200px;
  max-width: 200px;
  background-color: var(--smoke-snow);
}

.image-container img {
  width: 100%;
}

.item-container {
  display: flex;
  justify-content: space-between;
  padding: 0em 2.5em;
  width: 80%;
}

.item-frame p {
  margin-bottom: 0.5rem;
}

.btn-icon-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-left: 1.5rem;
  width: 100%;
  gap: 3rem;
}

.btn-icon-container button {
  margin: 0rem;
  padding: 0em 0.5em;
  border-radius: 100%;
  background-color: white;
  color: var(--color-dark);
}

.btn-icon-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.delete-icon {
  cursor: pointer;
  margin-top: 2rem;
  font-size: 1.5rem;
}

.delete-icon:hover {
  color: var(--color-salmon);
}

@media only screen and (max-width: 960px) {
  .btn-icon-container {
    margin: 0rem;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .delete-icon {
    margin-left: 1rem;
    margin-top: 0rem;
  }

  .cartList-frame {
    display: block;
  }

  .item-container {
    display: block;
    padding: 0%;
  }
}
