.detail-container {
  margin-left: 1rem;
}

.detail-container button a {
  color: white;
}

.product-text p span {
  margin-left: 1.2rem;
}

.product-container {
  font-family: sans-serif;
  margin: 10px auto;
  width: 80%;
  display: flex;
  color: white;
  padding: 10px;
}

.product-container img {
  max-width: 500px;
  object-fit: cover;
}

.product-text {
  padding: 60px 0;
  line-height: 1.5;
  margin-left: 40px;
}

.product-text h2 {
  font-size: xx-large;
  font-weight: 500;
}

.product-text p {
  width: 70%;
  font-size: large;
  font-weight: 100;
  margin: 30px 0;
}

.btn-container {
  display: flex;
  justify-content: start;
}

.inc-btn,
.dec-btn {
  padding: 10px;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .product-container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .product-container img {
    width: 100%;
  }
}
