.detail-container {
  margin-left: 1rem;
}

.detail-container button a {
  color: var(--color-snow);
}

.product-text p span {
  margin-left: 1.2rem;
}

.product-container {
  font-family: sans-serif;
  margin: 0.7rem auto;
  width: 80%;
  display: flex;
  color: var(--color-snow);
  padding: 0.7em;
}

.product-container img {
  max-width: 500px;
  object-fit: cover;
}

.product-text {
  line-height: 1.5;
  margin-left: 40px;
}

.product-text h2 {
  font-size: xx-large;
  font-weight: 500;
}

.product-text p {
  width: 70%;
  font-size: large;
  font-weight: 100;
  margin: 1.8rem 0;
}

.btn-details-container {
  display: flex;
  justify-content: start;
  width: fit-content;
}

.inc-btn,
.dec-btn {
  padding: 0.7em;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--color-snow);
}

.qty {
  padding: 0.7em;
  border-radius: 30%;
  border: 1px solid var(--color-dark);
  background-color: var(--color-snow);
  color: var(--color-dark);
}

@media only screen and (max-width: 900px) {
  .product-container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .product-container img {
    width: 100%;
  }
}
