.checkout-container {
  display: flex;
  min-height: 80vh;
  width: 100%;
}

.checkout-frame {
  height: 300px;
  max-width: 80%;
  width: 800px;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
}

.checkout-container p {
  font-size: 2rem;
}

.checkout-bg {
  background: #191414 !important;
}

.checkout-frame button a {
  color: white !important;
}
