.search-container {
  display: flex;
  justify-content: end;
  margin: 15px 30px;
}

.search-input {
  padding: 0.6em;
  border: none;
  width: 250px;
}

.search-input:focus {
  outline: 2px solid #5652a1;
}