.header-container {
  display: flex;
  justify-content: space-between;
  min-height: 100px;
  background: var(--color-flower);
  color: var(--color-snow);
  padding: 0em 1.2em;
  position: sticky;
  top: 0;
}

.header-container a {
  color: var(--color-snow);
  font-size: 1rem;
}

.header-container button {
  display: flex;
  flex: 0 0 160px;
  margin: 0 1.5rem 0 0.8rem;
  padding: 0.7em 2em !important;
}

.header-container ul li {
  margin: 0 0.7rem;
}

.header-container ul li a {
  color: var(--color-snow);
}

.add-btn a {
  color: var(--color-snow);
  display: flex;
  justify-content: center;
}

.icon {
  margin-right: 1rem;
}

@media only screen and (max-width: 960px) {
  .header-container {
    flex-direction: column;
    padding: 0.7em 0em;
  }

  .header-container a {
    margin-bottom: 0.5rem;
  }

  .wrapper {
    margin-bottom: 0.5rem;
  }
}
