.order-container {
  width: 30%;
}

.order-frame {
  width: 100%;
  border: 1px solid whitesmoke;
  padding: 0.7em;
  border-radius: 0.7rem;
  min-height: 400px;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 960px) {
  .order-frame {
    margin-top: 1rem;
    width: fit-content;
  }
}
